.home-wrapper{
    background-image: url("../images/homepage-background.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow: hidden;
    
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1210px;
    margin: auto;
    padding: 30px 0px;
}

.navigation-list-home{
    border-bottom: 2px solid #DF6951;
}

.navigation-list{
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.navigation-list a{
    color: #FFF;
}

.header-dropdown{
    position: relative;
}

.header-dropdown-content{
    background-image: url("../images/popup-cloud.png");
    height: 200px;
    width: 250px;
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
    display: flex;
    flex-direction: column;
    padding: 35px 20px;
    gap: 20px;
    line-height: 35px;
    color: #FFF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: none;

}
.header-dropdown-content a{
    display: block;
}

.header-dropdown:hover .header-dropdown-content{
    display: block;
}

.header-button{
    padding: 15px;
    background-color: #DF6951;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

.home-main-section{
    max-width: 1200px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-main-section-text{
    color: #FFF;
    font-family: Poppins;
    font-size: 58.506px;
    font-style: normal;
    font-weight: 700px;
    line-height: 85px;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-menu{
    background-color: rgba(243, 243, 243, 0.60);
    backdrop-filter: blur(17.760618209838867px);
    border-radius: 5.224px;
    max-width: 844px;
    display: flex;
    padding: 20px 15px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18.805px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-menu-input{
    background-color: transparent;
    padding: 20px 15px;
    border: none;
    height: 20px;
    max-width: 120px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main-menu-input::placeholder {
    opacity: 1;
    color: #FFF;
  }

textarea:focus, .main-menu-input:focus{
    outline: none;
}

.travel-type{
    border-left: 2px solid #D0D0D0;
    border-right: 2px solid #D0D0D0;
    padding: 0px 40px;
    border-radius: 1px;
}

.add-chevron{
    display: flex;
    gap: 10px;
}

.bi-chevron-down{
    display: flex;
    align-items: center;
}

.home-main-section-text-btn{
    padding: 15px 57px;
    background-color: #DF6951;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600px;
}

.people-booked-container{
    display: flex;
    align-items: center;
    gap: 1px;
}

.people-booked-img{
    margin-left: -15px;
}

.people-booked-container-desc{
    color: #FFF;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    
}

.slider{
    text-align: center;
    margin-bottom: 15px;
}

.scrool-container{
    position: relative;
    left: 30px;
    top: -180px;
}

.bi-plus{
    color:white;
    position: relative;
    left:-29.90px;
    top:-12.50px;
}